In [15]:
import pandas as pd

In [16]:
DATA={'행정구역':['구월3동+관교동','부평4동+삼산2동'],'인구수':[28142+13941,33827+27396],'면적':[1.84+0.90,1.04+1.26],
      '인구밀도':[(28142+13941)/(1.84+0.90),(33827+27396)/(1.04+1.26)]}

In [17]:
datadf=pd.DataFrame(DATA)

In [18]:
datadf.set_index('행정구역',inplace=True)

In [19]:
datadf

             인구수    면적          인구밀도
행정구역
구월3동+관교동   42083  2.74  15358.759124
부평4동+삼산2동  61223  2.30  26618.695652

In [20]:
# #1.73배 차이