모듈 설치

In [287]:
import pandas as pd
import numpy as np
import utils2

데이터 경로 설정 및 준비<hr>

In [288]:

FILE_CSV_R1='./middleadata1.csv'
FILE_CSV_R2='./middleadata12.csv'
FILE_CSV_R3='./northadata1.csv'
FILE_CSV_R4='./northadata12.csv'
file1='./23년 아파트 실거래가 1월.xlsx'
file2='./23년 아파트 실거래가 12월.xlsx'
file3='./23년 아파트 북구 1월 실거래가.xlsx'
file4='./23년 아파트 북구 12월 실거래가.xlsx'

excel데이터 확인 후 csv로 다시 저장<hr>

In [289]:
#엑셀파일 읽어오기(23년 아파트 중구 실거래가 1월)
datadf1=pd.read_excel(file1)

In [290]:
#속성 및 통계치 출력
utils2.print_attribute(datadf1,'23년 아파트 중구 실거래가 1월')
utils2.summary(datadf1,'23년 아파트 중구 실거래가 1월')

---[23년 아파트 중구 실거래가 1월]---
df.dtypes => 미소시티          object
66000          int64
138.16       float64
13             int64
계산동2가 100     object
dtype: object
df.index => RangeIndex(start=0, stop=72, step=1)
df.columns => Index(['미소시티', 66000, 138.16, 13, '계산동2가 100'], dtype='object')
df.ndim => 2
df.shape => (72, 5)
---[23년 아파트 중구 실거래가 1월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   미소시티       72 non-null     object
 1   66000      72 non-null     int64
 2   138.16     72 non-null     float64
 3   13         72 non-null     int64
 4   계산동2가 100  72 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.9+ KB
           미소시티  66000  138.16  13 계산동2가 100
0  남산롯데캐슬센트럴스카이  64500   84.95  12  남산동 3020
1       대신센트럴자이  59000   96.48  25  대신동 2106

       미소시티  66000  138.16  13   계산동2가 100
70       까치  15000   53.60  13  남산동 2482-1
71  남문시장2지구  13500   68.03   3   남산동 699-7
              66000      138.16         13
count     72.000000   72.000000  72.000000
mean   38273.194444   75.908194  16.541667
std     8424.066100   14.304694   8.252934
min    13500.000000   53.600000   3.000000
25%    32950.000000   59.980000   9.750000
50%    37750.000000   84.570000  16.500000
75%    43600.000000   84.852500  23.250000
max    64500.000000  124.150000  34.000000

In [291]:
#컬럼명 재설정
datadf1.columns = ['apt', 'money', 'extend', 'floor', 'residence']

In [292]:
#csv로 다시 저장
datadf1.to_csv(FILE_CSV_R1)

In [293]:
#엑셀파일 읽어오기(23년 아파트 중구 실거래가 12월)
datadf2=pd.read_excel(file2)

In [294]:
#속성 및 통계치 출력
utils2.print_attribute(datadf2,'23년 아파트 중구 실거래가 12월')
utils2.summary(datadf2,'23년 아파트 중구 실거래가 12월')

---[23년 아파트 중구 실거래가 12월]---
df.dtypes => 남산롯데캐슬센트럴스카이     object
91000             int64
101.52          float64
6                 int64
남산동 3020         object
위치보기             object
dtype: object
df.index => RangeIndex(start=0, stop=69, step=1)
df.columns => Index(['남산롯데캐슬센트럴스카이', 91000, 101.52, 6, '남산동 3020', '위치보기'], dtype='object')
df.ndim => 2
df.shape => (69, 6)
---[23년 아파트 중구 실거래가 12월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   남산롯데캐슬센트럴스카이  69 non-null     object
 1   91000         69 non-null     int64
 2   101.52        69 non-null     float64
 3   6             69 non-null     int64
 4   남산동 3020      69 non-null     object
 5   위치보기          68 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 3.4+ KB
   남산롯데캐슬센트럴스카이  91000  101.52   6   남산동 3020  위치보기
0        센트로팰리스  90000  179.46  16  대봉동 60-10  위치보기
1  남산롯데캐슬센트럴스카이  90000  101.52  13   남산동 3020  위치보기

   남산롯데캐슬센트럴스카이  91000  101.52   6    남산동 3020  위치보기
67       보성황실타운  22700   59.96  11  남산동 2466-1  위치보기
68           까치  19500   59.66   9  남산동 2482-1   NaN
              91000      101.52          6
count     69.000000   69.000000  69.000000
mean   46157.101449   79.199855  13.840580
std    14448.809039   22.438386   7.034836
min    19500.000000   39.650000   2.000000
25%    36800.000000   59.980000   9.000000
50%    44000.000000   84.050000  12.000000
75%    51000.000000   84.940000  18.000000
max    90000.000000  179.460000  33.000000

In [295]:
#컬럼명 재설정
datadf2.columns = ['apt', 'money', 'extend', 'floor', 'residence','loc']

In [296]:
#csv로 다시 저장
datadf2.to_csv(FILE_CSV_R2)

In [297]:
# 엑셀 파일 읽어오기(23년 아파트 북구 실거래가 1월)
datadf3=pd.read_excel(file3)

In [298]:
#속성 및 통계치 출력
utils2.print_attribute(datadf3,'23년 아파트 북구 실거래가 1월')
utils2.summary(datadf3,'23년 아파트 북구 실거래가 1월')

---[23년 아파트 북구 실거래가 1월]---
df.dtypes => 아파트        object
금액(만원)      int64
면적        float64
층           int64
주소         object
dtype: object
df.index => RangeIndex(start=0, stop=167, step=1)
df.columns => Index(['아파트', '금액(만원)', '면적', '층', '주소'], dtype='object')
df.ndim => 2
df.shape => (167, 5)
---[23년 아파트 북구 실거래가 1월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     167 non-null    object
 1   금액(만원)  167 non-null    int64
 2   면적      167 non-null    float64
 3   층       167 non-null    int64
 4   주소      167 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 6.6+ KB
         아파트  금액(만원)      면적   층          주소
0  코오롱하늘채2단지   71000  134.19  14   침산동 105-1
1     명성푸르지오   60000  140.71  10  침산동 269-10

      아파트  금액(만원)     면적   층         주소
165  산호한양    9000  36.18  10   읍내동 1351
166  유성청구    8000  35.10  15  검단동 887-8
             금액(만원)          면적           층
count    167.000000  167.000000  167.000000
mean   27626.790419   74.564970   11.467066
std    12002.176982   19.763613    7.695864
min     8000.000000   35.100000    1.000000
25%    19000.000000   59.875000    5.500000
50%    26500.000000   74.990000   11.000000
75%    35000.000000   84.965000   15.000000
max    71000.000000  140.710000   36.000000

In [299]:
#컬럼명 재설정
datadf3.columns = ['apt', 'money', 'extend', 'floor', 'residence']

In [300]:
#csv로 다시 저장
datadf3.to_csv(FILE_CSV_R3)

In [301]:
# 엑셀 파일 읽어오기(23년 아파트 북구 실거래가 12월)
datadf4=pd.read_excel(file4)

In [302]:
#속성 및 통계치 출력
utils2.print_attribute(datadf4,'23년 아파트 북구 실거래가 12월')
utils2.summary(datadf4,'23년 아파트 북구 실거래가 12월')

---[23년 아파트 북구 실거래가 12월]---
df.dtypes => 아파트        object
금액(만원)      int64
면적        float64
층           int64
주소         object
dtype: object
df.index => RangeIndex(start=0, stop=261, step=1)
df.columns => Index(['아파트', '금액(만원)', '면적', '층', '주소'], dtype='object')
df.ndim => 2
df.shape => (261, 5)
---[23년 아파트 북구 실거래가 12월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     261 non-null    object
 1   금액(만원)  261 non-null    int64
 2   면적      261 non-null    float64
 3   층       261 non-null    int64
 4   주소      261 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 10.3+ KB
             아파트  금액(만원)      면적   층         주소
0  오페라트루엘시민의숲아파트   67000  115.26  16  고성동3가 145
1  침산1차푸르지오(2-2)   66000  112.11  28  칠성동2가 2-2

       아파트  금액(만원)     면적  층           주소
259   한신중앙    8300  36.87  1    태전동 936-1
260  산격청구2    7700  31.60  4  산격동 1404-19
             금액(만원)          면적           층
count    261.000000  261.000000  261.000000
mean   27038.298851   73.445441   10.099617
std    12401.709780   15.878138    6.283498
min     7700.000000   31.600000    1.000000
25%    16500.000000   59.870000    6.000000
50%    24100.000000   81.160000    9.000000
75%    35500.000000   84.960000   14.000000
max    67000.000000  133.350000   37.000000

In [303]:
#컬럼명 재설정
datadf4.columns = ['apt', 'money', 'extend', 'floor', 'residence']

In [304]:
#CSV로 다시 저장
datadf4.to_csv(FILE_CSV_R4)

csv 데이터 확인<hr>

In [305]:
# csv파일 읽어오기(23년 아파트 실거래가 중구 1월)
ddatadf1=pd.read_csv('./middleadata1.csv')

In [306]:
#속성 및 통계치 출력
utils2.print_attribute(ddatadf1,'23년 아파트 중구 실거래가 1월')
utils2.summary(ddatadf1,'23년 아파트 중구 실거래가 1월')

---[23년 아파트 중구 실거래가 1월]---
df.dtypes => Unnamed: 0      int64
apt            object
money           int64
extend        float64
floor           int64
residence      object
dtype: object
df.index => RangeIndex(start=0, stop=72, step=1)
df.columns => Index(['Unnamed: 0', 'apt', 'money', 'extend', 'floor', 'residence'], dtype='object')
df.ndim => 2
df.shape => (72, 6)
---[23년 아파트 중구 실거래가 1월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72 non-null     int64
 1   apt         72 non-null     object
 2   money       72 non-null     int64
 3   extend      72 non-null     float64
 4   floor       72 non-null     int64
 5   residence   72 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 3.5+ KB
   Unnamed: 0           apt  money  extend  floor residence
0           0  남산롯데캐슬센트럴스카이  64500   84.95     12  남산동 3020
1           1       대신센트럴자이  59000   96.48     25  대신동 2106

    Unnamed: 0      apt  money  extend  floor   residence
70          70       까치  15000   53.60     13  남산동 2482-1
71          71  남문시장2지구  13500   68.03      3   남산동 699-7
       Unnamed: 0         money      extend      floor
count    72.00000     72.000000   72.000000  72.000000
mean     35.50000  38273.194444   75.908194  16.541667
std      20.92845   8424.066100   14.304694   8.252934
min       0.00000  13500.000000   53.600000   3.000000
25%      17.75000  32950.000000   59.980000   9.750000
50%      35.50000  37750.000000   84.570000  16.500000
75%      53.25000  43600.000000   84.852500  23.250000
max      71.00000  64500.000000  124.150000  34.000000

In [307]:
# 이상한 컬럼 삭제
ddatadf1.drop(columns=['Unnamed: 0'],inplace=True)

In [308]:
# csv파일 읽어오기(23년 아파트 실거래가 중구 12월)
ddatadf2=pd.read_csv('./middleadata12.csv')

In [309]:
#속성 및 통계치 출력
utils2.print_attribute(ddatadf2,'23년 아파트 중구 실거래가 12월')
utils2.summary(ddatadf2,'23년 아파트 중구 실거래가 12월')

---[23년 아파트 중구 실거래가 12월]---
df.dtypes => Unnamed: 0      int64
apt            object
money           int64
extend        float64
floor           int64
residence      object
loc            object
dtype: object
df.index => RangeIndex(start=0, stop=69, step=1)
df.columns => Index(['Unnamed: 0', 'apt', 'money', 'extend', 'floor', 'residence', 'loc'], dtype='object')
df.ndim => 2
df.shape => (69, 7)
---[23년 아파트 중구 실거래가 12월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  69 non-null     int64
 1   apt         69 non-null     object
 2   money       69 non-null     int64
 3   extend      69 non-null     float64
 4   floor       69 non-null     int64
 5   residence   69 non-null     object
 6   loc         68 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 3.9+ KB
   Unnamed: 0           apt  money  extend  floor  residence   loc
0           0        센트로팰리스  90000  179.46     16  대봉동 60-10  위치보기
1           1  남산롯데캐슬센트럴스카이  90000  101.52     13   남산동 3020  위치보기

    Unnamed: 0     apt  money  extend  floor   residence   loc
67          67  보성황실타운  22700   59.96     11  남산동 2466-1  위치보기
68          68      까치  19500   59.66      9  남산동 2482-1   NaN
       Unnamed: 0         money      extend      floor
count   69.000000     69.000000   69.000000  69.000000
mean    34.000000  46157.101449   79.199855  13.840580
std     20.062403  14448.809039   22.438386   7.034836
min      0.000000  19500.000000   39.650000   2.000000
25%     17.000000  36800.000000   59.980000   9.000000
50%     34.000000  44000.000000   84.050000  12.000000
75%     51.000000  51000.000000   84.940000  18.000000
max     68.000000  90000.000000  179.460000  33.000000

In [310]:
# 이상한 컬럼 삭제
ddatadf2.drop(columns=['Unnamed: 0','loc'],inplace=True)

In [311]:
# csv파일 읽어오기(23년 아파트 실거래가 북구 1월)
ddatadf3=pd.read_csv('./northadata1.csv')

In [312]:
#속성 및 통계치 출력
utils2.print_attribute(ddatadf3,'23년 아파트 북구 실거래가 1월')
utils2.summary(ddatadf3,'23년 아파트 북구 실거래가 1월')

---[23년 아파트 북구 실거래가 1월]---
df.dtypes => Unnamed: 0      int64
apt            object
money           int64
extend        float64
floor           int64
residence      object
dtype: object
df.index => RangeIndex(start=0, stop=167, step=1)
df.columns => Index(['Unnamed: 0', 'apt', 'money', 'extend', 'floor', 'residence'], dtype='object')
df.ndim => 2
df.shape => (167, 6)
---[23년 아파트 북구 실거래가 1월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  167 non-null    int64
 1   apt         167 non-null    object
 2   money       167 non-null    int64
 3   extend      167 non-null    float64
 4   floor       167 non-null    int64
 5   residence   167 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 8.0+ KB
   Unnamed: 0        apt  money  extend  floor   residence
0           0  코오롱하늘채2단지  71000  134.19     14   침산동 105-1
1           1     명성푸르지오  60000  140.71     10  침산동 269-10

     Unnamed: 0   apt  money  extend  floor  residence
165         165  산호한양   9000   36.18     10   읍내동 1351
166         166  유성청구   8000   35.10     15  검단동 887-8
       Unnamed: 0         money      extend       floor
count   167.00000    167.000000  167.000000  167.000000
mean     83.00000  27626.790419   74.564970   11.467066
std      48.35287  12002.176982   19.763613    7.695864
min       0.00000   8000.000000   35.100000    1.000000
25%      41.50000  19000.000000   59.875000    5.500000
50%      83.00000  26500.000000   74.990000   11.000000
75%     124.50000  35000.000000   84.965000   15.000000
max     166.00000  71000.000000  140.710000   36.000000

In [313]:
# 이상한 컬럼 삭제
ddatadf3.drop(columns=['Unnamed: 0'],inplace=True)

In [314]:
# csv파일 읽어오기(23년 아파트 실거래가 북구 12월)
ddatadf4=pd.read_csv('./northadata12.csv')

In [315]:
#속성 및 통계치 출력
utils2.print_attribute(ddatadf4,'23년 아파트 북구 실거래가 12월')
utils2.summary(ddatadf4,'23년 아파트 북구 실거래가 12월')

---[23년 아파트 북구 실거래가 12월]---
df.dtypes => Unnamed: 0      int64
apt            object
money           int64
extend        float64
floor           int64
residence      object
dtype: object
df.index => RangeIndex(start=0, stop=261, step=1)
df.columns => Index(['Unnamed: 0', 'apt', 'money', 'extend', 'floor', 'residence'], dtype='object')
df.ndim => 2
df.shape => (261, 6)
---[23년 아파트 북구 실거래가 12월]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  261 non-null    int64
 1   apt         261 non-null    object
 2   money       261 non-null    int64
 3   extend      261 non-null    float64
 4   floor       261 non-null    int64
 5   residence   261 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 12.4+ KB
   Unnamed: 0            apt  money  extend  floor  residence
0           0  오페라트루엘시민의숲아파트  67000  115.26     16  고성동3가 145
1           1  침산1차푸르지오(2-2)  66000  112.11     28  칠성동2가 2-2

     Unnamed: 0    apt  money  extend  floor    residence
259         259   한신중앙   8300   36.87      1    태전동 936-1
260         260  산격청구2   7700   31.60      4  산격동 1404-19
       Unnamed: 0         money      extend       floor
count   261.00000    261.000000  261.000000  261.000000
mean    130.00000  27038.298851   73.445441   10.099617
std      75.48841  12401.709780   15.878138    6.283498
min       0.00000   7700.000000   31.600000    1.000000
25%      65.00000  16500.000000   59.870000    6.000000
50%     130.00000  24100.000000   81.160000    9.000000
75%     195.00000  35500.000000   84.960000   14.000000
max     260.00000  67000.000000  133.350000   37.000000

In [316]:
# 이상한 컬럼 삭제
ddatadf4.drop(columns=['Unnamed: 0'],inplace=True)

In [317]:
# 평균 값 구하는 함수
def calculate_money_mean_with_loop(dataframes, target_name='삼덕청아람'):
    money_values = []
    min_extend=70      # 값중에 이상값이 있어 평수 설정정
    for df in dataframes:
        for _, row in df.iterrows():
                if row['apt'] == target_name  and row['extend'] >= min_extend:  # '삼덕청아람'인지, 평수가 70이상인지 확인
                    money_values.append(row['money'])  # 'money' 값을 저장
    
    # 평균 계산
    if money_values:
        return sum(money_values) / len(money_values)
    else:
        return None  # '삼덕청아람'이 없는 경우

In [318]:
# 1월의 삼덕청아람 가격 평균
dataframes = [ddatadf1]
money_meanm1 = calculate_money_mean_with_loop(dataframes)
money_meanm1

45400.0

In [319]:
# 12월의 삼덕청아람 가격 평균
dataframes = [ddatadf2]
money_meanm12 = calculate_money_mean_with_loop(dataframes)
money_meanm12

51000.0

In [320]:
# 삼덕청아람의 등락율%
(money_meanm12/money_meanm1-1)*100

12.334801762114544

In [321]:
# 평균 값 구하는 함수
def calculate_money_mean_with_loop(dataframes, target_name='학정청아람'):
    money_values = []
    min_extend=80
    for df in dataframes:
        for _, row in df.iterrows():
            if row['apt'] == target_name and row['extend'] >= min_extend: # '학정청아람'인지 확인
                money_values.append(row['money'])  # 'money' 값을 저장
    
    # 평균 계산
    if money_values:
        return sum(money_values) / len(money_values)
    else:
        return None  # '학정청아람'이 없는 경우

In [322]:
# 1월의 학정청아람 가격 평균
dataframes = [ddatadf3]
money_meann3 = calculate_money_mean_with_loop(dataframes)
money_meann3

28100.0

In [323]:
# 12월의 학정청아람 가격 평균
dataframes = [ddatadf4]
money_meann4 = calculate_money_mean_with_loop(dataframes)
money_meann4

26762.5

In [324]:
# 학정청아람의 등락율%
(money_meann4/money_meann3-1)*100

-4.759786476868333

각 행정구역의 인구, 면적, 인구밀도 조사<hr>

In [325]:
# 대구통계사이트에서 각 행정구역의 인구정보 조사후 직접 입력
population_density = {'날짜':[2023.1,2023.12,2023.1,2023.12],'동네':['국우동','국우동','삼덕동','삼덕동'],
                      '인구수':[24572,25247,6348,6601], '면적':[17.19,17.19,0.64,0.64],
                      '인구밀도':[1429.11,1468.7,9918.75,10314.06]}

In [326]:
# 인구밀도 데이터 프레임으로 변경
pd_df=pd.DataFrame(population_density)

In [327]:
# 데이터 정보 확인 및 출력
utils2.print_attribute(pd_df,'학정동과 삼덕동의 인구밀도')
utils2.summary(pd_df,'학정동과 삼덕동의 인구밀도')

---[학정동과 삼덕동의 인구밀도]---
df.dtypes => 날짜      float64
동네       object
인구수       int64
면적      float64
인구밀도    float64
dtype: object
df.index => RangeIndex(start=0, stop=4, step=1)
df.columns => Index(['날짜', '동네', '인구수', '면적', '인구밀도'], dtype='object')
df.ndim => 2
df.shape => (4, 5)
---[학정동과 삼덕동의 인구밀도]---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      4 non-null      float64
 1   동네      4 non-null      object
 2   인구수     4 non-null      int64
 3   면적      4 non-null      float64
 4   인구밀도    4 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 288.0+ bytes
        날짜   동네    인구수     면적     인구밀도
0  2023.10  국우동  24572  17.19  1429.11
1  2023.12  국우동  25247  17.19  1468.70

        날짜   동네   인구수    면적      인구밀도
2  2023.10  삼덕동  6348  0.64   9918.75
3  2023.12  삼덕동  6601  0.64  10314.06
                날짜          인구수         면적          인구밀도
count     4.000000      4.00000   4.000000      4.000000
mean   2023.110000  15692.00000   8.915000   5782.655000
std       0.011547  10647.51993   9.555147   5006.811192
min    2023.100000   6348.00000   0.640000   1429.110000
25%    2023.100000   6537.75000   0.640000   1458.802500
50%    2023.110000  15586.50000   8.915000   5693.725000
75%    2023.120000  24740.75000  17.190000  10017.577500
max    2023.120000  25247.00000  17.190000  10314.060000

In [328]:
# 각 편의점 홈페이지에서 근처 1km 점포수 조사후 직접 입력
mstore_data = {'점포명': ['gs25', 'cu', '세븐일레븐'],'점포수': [30, 15, 13]}
nstore_data = {'점포명': ['gs25', 'cu', '세븐일레븐'],'점포수': [7, 4, 1]}

In [329]:
#각 점포데이터 데이터프레임으로 변환 후 행정구역 인덱스 추가
mstore_df=pd.DataFrame(mstore_data,index=['삼덕동', '삼덕동', '삼덕동'])
nstore_df=pd.DataFrame(nstore_data,index=['학정동', '학정동', '학정동'])

In [330]:
# 데이터 정보 확인 및 출력
utils2.print_attribute(mstore_df,'삼덕동 편의점 수')
utils2.summary(mstore_df,'삼덕동 편의점 수')
utils2.print_attribute(nstore_df,'학정동 편의점 수')
utils2.summary(nstore_df,'학정동 편의점 수')

---[삼덕동 편의점 수]---
df.dtypes => 점포명    object
점포수     int64
dtype: object
df.index => Index(['삼덕동', '삼덕동', '삼덕동'], dtype='object')
df.columns => Index(['점포명', '점포수'], dtype='object')
df.ndim => 2
df.shape => (3, 2)
---[삼덕동 편의점 수]---
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 삼덕동 to 삼덕동
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   점포명     3 non-null      object
 1   점포수     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes
      점포명  점포수
삼덕동  gs25   30
삼덕동    cu   15

       점포명  점포수
삼덕동     cu   15
삼덕동  세븐일레븐   13
             점포수
count   3.000000
mean   19.333333
std     9.291573
min    13.000000
25%    14.000000
50%    15.000000
75%    22.500000
max    30.000000
---[학정동 편의점 수]---
df.dtypes => 점포명    object
점포수     int64
dtype: object
df.index => Index(['학정동', '학정동', '학정동'], dtype='object')
df.columns => Index(['점포명', '점포수'], dtype='object')
df.ndim => 2
df.shape => (3, 2)
---[학정동 편의점 수]---
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 학정동 to 학정동
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   점포명     3 non-null      object
 1   점포수     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes
      점포명  점포수
학정동  gs25    7
학정동    cu    4

       점포명  점포수
학정동     cu    4
학정동  세븐일레븐    1
       점포수
count  3.0
mean   4.0
std    3.0
min    1.0
25%    2.5
50%    4.0
75%    5.5
max    7.0